body {
  font-family: 'Poppins', sans-serif; }

#contact-icon {
  height: 40px; }
  #contact-icon .contact a {
    color: #565656;
    font-size: 12px;
    margin-left: 14px; }
    #contact-icon .contact a:hover {
      text-decoration: none;
      color: #007bff; }
  #contact-icon .icons a {
    color: #565656;
    margin-right: 14px; }

header nav {
  height: 50px; }
  header nav img {
    width: auto;
    height: 80px; }
  header nav .navbar-nav .nav-link {
    font-size: 14px;
    letter-spacing: 2px; }
  header nav .layout:hover .dropdown-menu {
    display: block !important; }
  header nav .features:hover .dropdown-menu {
    display: block; }
  header nav .element:hover .dropdown-menu {
    display: block !important; }
  header nav .pages:hover .dropdown-menu {
    display: block; }

main #accordion-title {
  position: relative;
  background: #f8f9fa;
  height: 300px; }
  main #accordion-title .title {
    position: absolute;
    left: 40%;
    top: 35%; }
    main #accordion-title .title h6 {
      font-size: 13px;
      color: #565656; }
    main #accordion-title .title a {
      color: #565656;
      font-size: 12px; }
      main #accordion-title .title a:hover {
        text-decoration: none;
        color: #007bff; }
    main #accordion-title .title span {
      color: #565656;
      font-size: 12px; }
main #forms .container .row {
  margin-top: 20px; }
  main #forms .container .row .left-nav label {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase; }
  main #forms .container .row .left-nav ul {
    padding: 0px !important; }
    main #forms .container .row .left-nav ul li {
      list-style: none; }
      main #forms .container .row .left-nav ul li a {
        color: #565656;
        font-size: 14px; }
        main #forms .container .row .left-nav ul li a:hover {
          text-decoration: none;
          color: #2250fc; }
  main #forms .container .row .accordions {
    margin-bottom: 70px; }
    main #forms .container .row .accordions hr {
      margin-top: 60px; }
    main #forms .container .row .accordions .default h4 {
      font-size: 20px;
      font-weight: 500;
      color: #1f1f1f; }
    main #forms .container .row .accordions .default h6 {
      margin: 10px;
      font-size: 13px;
      color: #1f1f1f;
      position: relative;
      cursor: pointer; }
      main #forms .container .row .accordions .default h6 span {
        position: absolute;
        right: 4px;
        font-size: 14px; }
    main #forms .container .row .accordions .default .content {
      display: none; }
      main #forms .container .row .accordions .default .content p {
        font-size: 13.6px;
        font-weight: 400;
        color: #777;
        margin-left: 10px; }
    main #forms .container .row .accordions .default .border {
      margin-top: 16px;
      border-radius: 4px; }
    main #forms .container .row .accordions .shadow-acc {
      margin-top: 40px; }
      main #forms .container .row .accordions .shadow-acc h4 {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f; }
      main #forms .container .row .accordions .shadow-acc h6 {
        margin: 10px;
        font-size: 13px;
        color: #1f1f1f;
        position: relative;
        cursor: pointer; }
        main #forms .container .row .accordions .shadow-acc h6 span {
          position: absolute;
          right: 4px;
          font-size: 14px; }
      main #forms .container .row .accordions .shadow-acc .content {
        display: none; }
        main #forms .container .row .accordions .shadow-acc .content p {
          font-size: 13.6px;
          font-weight: 400;
          color: #777;
          margin-left: 10px; }
      main #forms .container .row .accordions .shadow-acc .border {
        margin-top: 16px;
        border-radius: 4px; }
    main #forms .container .row .accordions .with-icon {
      margin-top: 40px; }
      main #forms .container .row .accordions .with-icon h4 {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f; }
      main #forms .container .row .accordions .with-icon h6 {
        margin: 10px;
        font-size: 13px;
        color: #1f1f1f;
        position: relative;
        cursor: pointer; }
        main #forms .container .row .accordions .with-icon h6 span {
          position: absolute;
          right: 4px;
          font-size: 14px; }
      main #forms .container .row .accordions .with-icon .content {
        display: none; }
        main #forms .container .row .accordions .with-icon .content p {
          font-size: 13.6px;
          font-weight: 400;
          color: #777;
          margin-left: 10px; }
      main #forms .container .row .accordions .with-icon .border {
        background: white;
        margin-top: 16px;
        border-radius: 4px; }
    main #forms .container .row .accordions .simple {
      margin-top: 40px; }
      main #forms .container .row .accordions .simple h4 {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f; }
      main #forms .container .row .accordions .simple h6 {
        margin: 10px;
        font-size: 13px;
        color: #1f1f1f;
        position: relative;
        cursor: pointer; }
        main #forms .container .row .accordions .simple h6 span {
          position: absolute;
          right: 4px;
          font-size: 14px; }
      main #forms .container .row .accordions .simple .content {
        display: none; }
        main #forms .container .row .accordions .simple .content p {
          font-size: 13.6px;
          font-weight: 400;
          color: #777;
          margin-left: 10px; }
      main #forms .container .row .accordions .simple .border {
        margin-top: 16px;
        border-radius: 4px; }
    main #forms .container .row .accordions .flat {
      margin-top: 40px; }
      main #forms .container .row .accordions .flat h4 {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f; }
      main #forms .container .row .accordions .flat h6 {
        font-size: 13px;
        margin-bottom: 20px;
        color: #1f1f1f;
        position: relative;
        cursor: pointer; }
        main #forms .container .row .accordions .flat h6 span {
          position: absolute;
          right: 4px;
          font-size: 14px; }
      main #forms .container .row .accordions .flat .content {
        display: none; }
        main #forms .container .row .accordions .flat .content p {
          font-size: 13.6px;
          font-weight: 400;
          color: #777;
          margin-left: 0; }
      main #forms .container .row .accordions .flat .border {
        margin-top: 16px;
        border-radius: 4px; }
    main #forms .container .row .accordions .dark {
      margin-top: 40px; }
      main #forms .container .row .accordions .dark h4 {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f; }
      main #forms .container .row .accordions .dark h6 {
        margin: 10px;
        font-size: 13px;
        color: #1f1f1f;
        position: relative;
        cursor: pointer;
        color: #fff; }
        main #forms .container .row .accordions .dark h6 span {
          position: absolute;
          right: 4px;
          font-size: 14px; }
      main #forms .container .row .accordions .dark .content {
        display: none; }
        main #forms .container .row .accordions .dark .content p {
          font-size: 13.6px;
          font-weight: 400;
          color: #fff;
          margin-left: 10px; }
      main #forms .container .row .accordions .dark .border {
        background: #333;
        margin-top: 16px;
        border-radius: 4px; }
    main #forms .container .row .accordions .with-theme {
      margin-top: 40px; }
      main #forms .container .row .accordions .with-theme h4 {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f; }
      main #forms .container .row .accordions .with-theme h6 {
        margin: 10px;
        font-size: 13px;
        color: #1f1f1f;
        position: relative;
        cursor: pointer;
        color: #fff; }
        main #forms .container .row .accordions .with-theme h6 span {
          position: absolute;
          right: 4px;
          font-size: 14px; }
      main #forms .container .row .accordions .with-theme .content {
        display: none; }
        main #forms .container .row .accordions .with-theme .content p {
          font-size: 13.6px;
          font-weight: 400;
          color: #fff;
          margin-left: 10px; }
      main #forms .container .row .accordions .with-theme .border {
        background: #2250fc;
        margin-top: 16px;
        border-radius: 4px; }

footer {
  background: #f7f9fb; }
  footer .container .row .content {
    margin-top: 70px; }
    footer .container .row .content a {
      background: #007bff;
      color: white;
      padding: 6px;
      border-radius: 6px;
      font-size: 13px; }
      footer .container .row .content a:hover {
        text-decoration: none;
        background: #2250fc; }
    footer .container .row .content h6 {
      color: #565656;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 600; }
    footer .container .row .content p {
      font-size: 13px;
      color: #777;
      margin: 12px 0 12px 0; }
  footer .container .col-3 {
    margin-top: 70px; }
    footer .container .col-3 h6 {
      color: #565656;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 600; }
    footer .container .col-3 ul {
      padding: 0;
      text-align: start; }
      footer .container .col-3 ul li {
        list-style: none;
        line-height: 42px;
        font-size: 14px; }
        footer .container .col-3 ul li a {
          color: #616060e5;
          margin: 0; }
  footer #end {
    background: #eff1f4;
    padding: 20px; }
    footer #end .container {
      font-size: 13px; }

/*# sourceMappingURL=style.css.map */
